/.phpunit.cache
/node_modules
/public/build
/public/arsip
/public/maps
/public/skp_files
/public/hot
/public/storage
/public/laperdin_test_*.pdf
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
rr.log

# Local machine-specific service setup files
start_nssm_service_local.md
service_config_backup.txt
